<div class="row g-3 mb-3">
  <div class="col-md-6">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Buscar por título</mat-label>
      <input matInput [formControl]="searchControl" placeholder="Ex: Angular">
    </mat-form-field>
  </div>

  <div class="col-md-6">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Categoria</mat-label>
      <mat-select [(ngModel)]="category" (ngModelChange)="sendCategory($event)">
        <mat-option [value]="null">Todas</mat-option>
        <mat-option *ngFor="let item of categories" [value]="item">
          {{ item.title }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
